/node_modules
/public
/public/hot
/public/assets
/public/storage
/storage/*.key
/vendor
/app/Providers/AppServiceProvider.php
.env
.env.exmple
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
